{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>R&D Symfony Security Testing ✅</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        You are logged in.
        <ul>
            <li>Log out: <a href="{{ path('app_logout') }}">Logout</a></li>
        </ul>
    {% else %}
        You are not logged in.
        <ul>
            <li>Login to an existing account: <a href="{{ path('app_login') }}">Login</a></li>
            <li>Register a new account: <a href="{{ path('app_register') }}">Register</a></li>
        </ul>
    {% endif %}
</div>
{% endblock %}
